html,body,div,span,object,h1,h2,h3,h4,h5,h6,p,a,abbr,acronym,em,img,ol,ul,li {border: 0;font-weight: inherit;font-style: inherit;font-size: 100%;font-family: inherit;vertical-align: baseline;margin: 0;padding: 0;}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-y: auto;
  background: #faf3e6;
  background-size: 22em;
}

body {
  font: 112.5%/1.3 "ltc-bodoni-175",serif;
  color: #3f3d3a;
  overflow: hidden;
}

body:before, body:after {
  content: '';
  display: block;
  width: 0; 
  height: 0; 
}

body:before {
  border-left: 45px solid #faf3e6;
  border-right: 45px solid #faf3e6;
  border-top: 45px solid transparent;
  background: #f7644d;
  margin: 0 auto -45px;
}

body:after {
  border-left: 7em solid #faf3e6;
  border-right: 7em solid #faf3e6;
  border-bottom: 10em solid transparent;
  background: #ffb14d;
  margin: -10em auto 0;
}

.page-wrapper {
  width: 100%;
  margin: 0.25em auto;
  max-width: 1800px;
  position: relative;
  padding: 0 4%;
}

.page-wrapper:before {
  content: "";
  height: 20px;
  background-size: 40em;
  display: block;
}

.page-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

h1, h2, h3, h4, h5 {
  text-align: center;
  color: #272625;
  text-transform: uppercase;
}

a {
  color: #e5452c;
}

a:hover, a:focus {
  color: #3f3d3a;
}

p {
  margin-bottom: 0.15em;
}
