<<<<<<< HEAD
body {
    max-width: 50%;
    margin: auto;
    text-align: center;
    background-color: #faf3e6;
}
div.navbar {
    margin-top: 50px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #900C3F;
=======
body {
    max-width: 50%;
    margin: auto;
    text-align: center;
    background-color: #faf3e6;
}
div.navbar {
    margin-top: 50px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #900C3F;
>>>>>>> origin
}